*
!.gitignore
!README.md
!vagrant-essential-plugin-setup.sh
!ubuntu/
!ubuntu/**
!ubuntu-docker/
!ubuntu-docker/**
!ubuntu-prometheus-grafana/
!ubuntu-prometheus-grafana/**
!ubuntu-k0s/
!ubuntu-k0s/**
!ubuntu-rancher/
!ubuntu-rancher/**