*
!.gitignore
!java/
!java/**
!sdkman-java/
!sdkman-java/**
!jenkins/
!jenkins/**
!rancher/
!rancher/**
!docker-and-compose/
!docker-and-compose/**
!docker-and-compose-jenkins/
!docker-and-compose-jenkins/**
!docker-and-compose-prometheus-grafana/
!docker-and-compose-prometheus-grafana/**
!ubuntu-update-and-upgrade/
!ubuntu-update-and-upgrade/**
!ubuntu-kubernetes-k0s-single-cluster/
!ubuntu-kubernetes-k0s-single-cluster/**