*
!.gitignore
!java/
!java/**
!sdkman-java/
!sdkman-java/**
!jenkins/
!jenkins/**
!containerd-and-nerdctl/
!containerd-and-nerdctl/**
!docker-and-compose/
!docker-and-compose/**
!docker-and-compose-jenkins/
!docker-and-compose-jenkins/**
!docker-and-compose-prometheus-grafana/
!docker-and-compose-prometheus-grafana/**
!docker-compose-rancher/
!docker-compose-rancher/**
!ubuntu-server-commons/
!ubuntu-server-commons/**
!ubuntu-update-and-upgrade/
!ubuntu-update-and-upgrade/**
!ubuntu-automatic-security-updates/
!ubuntu-automatic-security-updates/**
!ubuntu-kubernetes-k0s-single-cluster/
!ubuntu-kubernetes-k0s-single-cluster/**